<h1> Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">

    <div *ngFor="let hero of heroes" class="col">
        <div class="card h-100">
            <img src="{{ hero.img }}" class="card-img-top" alt="{{ hero.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ hero.nombre }}</h5>
                <p class="card-text">{{ hero.bio }}</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">{{ hero.casa }} {{ hero.aparicion }}</small>
            </div>
            <button type="button" class="btn btn-outline-primary">Ver mas...</button>
        </div>
    </div>

</div>