<h1> Héroes filtrados por: <small> {{ name }}</small></h1>
<hr>

<div *ngIf="heroes.length === 0" class="row animated fadeIn">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados para: {{ name }}
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <app-heroe-card (heroDetail)="goToHeroeDetail($event)" *ngFor="let heroe of heroes" [hero]="heroe"
        [id]="heroe.id? heroe.id : 0" class="col animated fastIn fast">
    </app-heroe-card>
</div>