<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="showCardInfo" class="card text-bg-dark mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ cardInfo.author }}</h5>
                <p class="card-text">{{ cardInfo.message }}</p>
            </div>
        </div>
        <div class="d-grid gap-1">
            <button class="btn btn-outline-dark btn-block" (click)="showCardInfo = !showCardInfo">Show/Hide</button>
        </div>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let c of characters; let i = index" class="list-group-item">{{ i + 1 }}. {{ c }}</li>
        </ul>
    </div>
</div>