<div [ngClass]="alert" class="alert" role="alert">
    This is a alert—check it out!
</div>

<button type="button" (click)="alert = 'alert-info'" class="btn btn-info">Info</button>
<button type="button" (click)="alert = 'alert-success'" class="btn btn-success">Success</button>

<br><br>

<h3 [ngClass]="{'text-danger': properties.danger, 'text-info': !properties.danger}"
    (click)="properties.danger = !properties.danger">
    Hello World
</h3>

<br><br>

<h3> Async Process</h3>
<button type="button" class="btn btn-primary" (click)="execute()" [disabled]="loading">
    <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}" class="fa"></i>
    <span *ngIf="!loading"> Save Changes</span>
    <span *ngIf="loading"> Saving...</span>
</button>