<h1 class="mt-3"> Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ name }}</td>
          <td> uppercase </td>
          <td> {{ name | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td> lowercase </td>
          <td> {{ name | lowercase }} </td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td> slice:3 </td>
          <td> {{ name | slice:3 }} </td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td> slice:0:3 </td>
          <td> {{ name | slice:0:3 }} </td>
        </tr>
        <tr>
          <td>{{ myArray }}</td>
          <td> slice:1:5 </td>
          <td> {{ myArray | slice:1:5 }} </td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td> number </td>
          <td> {{ PI | number }} </td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td> number:'1.0-0' </td>
          <td> {{ PI | number:'1.0-0' }} </td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td> number:'3.0-0' </td>
          <td> {{ PI | number:'3.0-0' }} </td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td> number:'.0-2' </td>
          <td> {{ PI | number:'.0-2' }} </td>
        </tr>
        <tr>
          <td>{{ myPercent }}</td>
          <td> percent </td>
          <td> {{ myPercent | percent }} </td>
        </tr>
        <tr>
          <td>{{ myPercent }}</td>
          <td> percent:'2.2-2' </td>
          <td> {{ myPercent | percent:'2.2-2' }} </td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td> currency </td>
          <td> {{ salary | currency }} </td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td> currency:'EUR' </td>
          <td> {{ salary | currency:'EUR' }} </td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td> currency:'CAD':'symbol':'.0-0' </td>
          <td> {{ salary | currency:'CAD':'symbol':'.0-0' }} </td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td> currency:'CAD':'symbol-narrow':'.0-0' </td>
          <td> {{ salary | currency:'CAD':'symbol-narrow':'.0-0' }} </td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td> currency:'LMP ':'symbol':'.1-1' </td>
          <td> {{ salary | currency:'LMP ':'symbol':'.1-1' }} </td>
        </tr>
      </tbody>
    </table>

    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of myArray | slice:5:20">{{ item }}</li>
    </ul>

  </div>
</div>